<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <%if(KindOfDay == "Saturday" || KindOfDay == "Sunday"){%>
    <h1 style="color: red">Hey today is <%= DayName %></h1>
    <h1 style="color: red">Hey its a <%= KindOfDay %></h1>
    <%}else{%>
    <h1 style="color: blue">Hey today is <%= DayName %></h1>
    <h1 style="color: blue">Hey its a <%= KindOfDay %></h1>
    <%}%>

    <!-- <h1><%=DayName%></h1> -->
  </body>
</html>
